*{
    margin:0;
    padding: 0;
}

.cabecalho{
    width: 80vw;
    height: 120px;
    background-color: crimson;
    margin: 0 auto;
}

.corpo{
    width: 80vw;
    height: calc(100vw - 240px);
    background-color: darkblue;
    margin: 0 auto;
}

.menu{
    width: 100px;
    height: 100%;
    background-color: darkgreen;
    display: inline-block;

}

.conteudo{
    width: calc(80vw - 105px);
    height: 100%;
    background-color: crimson;
    display: inline-block;
}

.rodape{
    width: 80vw;
    height: 120px;
    background-color: blueviolet;
    margin: 0 auto;
}